
* {
  font-family: 'Palanquin', sans-serif;
}

body {
  background-color: #FFF5EE;
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  border: 0;
  box-shadow: 1px 1px 6px -3px #26222d;
}

header {
  border-bottom: 2px solid #FF6347;
  display: inline-flex;
  width: 100%;
  background-color: white;
  /* box-shadow: 0px -1.5px 7px #26222d; */
  box-shadow: 1px 1px 6px -3px #26222d;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Copperplate";
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3vh 5vw;
}

main {
  padding: 1% 4%;
  background-color: white;
  height: 65vh;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.login-button {
  height: 5vh;
  width: 10vw;
  border-radius: 4px;
  border: 0;
  color: white;
  background-color: #FF6347;
}

.search-container {
  display: flex;
  background-color: white;
  height: 5vh;
  width: 30vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  border-radius: 4px;
  box-shadow: 1px 1px 6px -3px #26222d;
}

.search-bar {
  border: none;
}

.spy-glass-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.fa-search {

}

.search-button {
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 6px -3px #26222d;
}



.dropdown-section {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.dropdown-buttons {
  background-color: transparent;
  box-shadow: none;
}

.icon {
  font-size: xx-large;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-card {
  width: 16vw;
  height: 20vh;
  margin: 0;
}

.recipe-image {
  width: 16vw;
  height: 25vh;
  object-fit: cover;
}

.recipe-title {
 text-align: center;
 font-size: 15px
}
