
* {
  font-family: 'Palanquin', sans-serif;
}

body {
  background-color: #FFF5EE;
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  border: 0;
  box-shadow: 1px 1px 6px -3px #26222d;
}

header {
  border-bottom: 2px solid #FF6347;
  display: inline-flex;
  width: 100%;
  background-color: white;
  /* box-shadow: 0px -1.5px 7px #26222d; */
  box-shadow: 1px 1px 6px -3px #26222d;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Copperplate";
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3vh 5vw;
}

main {
  padding: 1% 4%;
  background-color: white;
  height: 65vh;
}

h3 {
  font-size: 100%;
  font-weight: 800;
}

.icon-button {
position: relative;
display: inline-block;
}

.icon:hover {
  cursor: pointer;
  color: rgb(72, 148, 148);
  transform:scale(1.1);
  transition: 2ms;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.icon-button:hover .dropdown-content {
  display: block;
}

.dropdown-items:hover {
  background-color: #FF6347;
  color: #FFF5EE;
  cursor: pointer;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.to-cook {
  height: 5vh;
  width: 10vw;
  border-radius: 4px;
  border: 0;
  color: white;
  background-color: #FF6347;
}

.search-container {
  display: flex;
  background-color: white;
  height: 5vh;
  width: 30vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  border-radius: 4px;
  box-shadow: 1px 1px 6px -3px #26222d;
}

.search-bar {
  border: none;
}

.spy-glass-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.fa-search {

}

.search-button {
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 6px -3px #26222d;
}



.dropdown-section {
  margin-right: 6vw;
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.dropdown-buttons {
  background-color: transparent;
  box-shadow: none;
}

.icon {
  font-size: xx-large;
}

.cards-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-card {
  width: 16vw;
  height: 20vh;
  margin-bottom: 15vh;
}

.recipe-image:hover {
  cursor: pointer;
  transform:scale(1.05);
  transition: 3ms;
}

.recipe-image {
  border-radius: 8px;
  width: 17vw;
  height: 27vh;
  object-fit: cover;
}

.recipe-title {
 margin-top: 0;
 text-align: center;
 font-size: 15px
}

.hidden {
  display: none;
}

.button-hover:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 10ms;
}

.title {
  font-size: 250%;
  font-weight: bolder;
  text-align: center;
}

.ingredients-and-image {
height: 20%;
display: flex;
justify-content: space-evenly;
align-content: center;
}

.instructions-display {
  height: 25%;
}
